body {
  background-color: #C19EE0;
  font-family: Montserrat, sans-serif;
}
.header img{
  width: 70 px;
  height: 80px;
  float: left;
  margin-left: 20px;

}

ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #C19EE0;
  font-size: 30px;
  line-height: 46px;
  font-weight: 500;
  transition-duration: 0.6s;

}

li {
  float: left;
  border-left:2px solid black;
}

li:last-child {
  border-left: none;
}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #d5b1f5;
  transition-duration: 0.6s;
}

hr.solid {
  border: 15px solid white;
}

.welcome {
  font-size: 64px;
  line-height: 78px;
  background-image: url("image/Welcome_Background.jpg");
  background-size: 100% 100%;   
  height: 45vw;

}
.welcome_box{
  /* overflow: hidden;  */
  position: relative;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.5);
  /* background-size: cover; */
  width: 50vw;
  background-clip:content-box;
  height: 37vw;
  left: 30px;
  top: 40px;
  /* padding-top: 55px; */
  
}
.welcome_text{
  position: relative;
  /* padding: 50px; */
  padding-top: 20px;
  padding-left: 30px;
  font-size: 4vw;
  line-height: 80px;
  font-weight: 700;
}
.welcome_text2{
  position: relative;
  font-size: 3vw;
  line-height: 50px;
  /* padding-top: 10px; */
  padding-left: 30px;
  font-weight: 400;
}

.about  {
  /* line-height: 500px; */
  background-size: 100% 100%;

}

.description{
  position: absolute;
  width: 700px;
  height: 40vw;
  left: 49px;
  top: 60vw;
  background-color: rgba(250,250,250,0.4);
  border-radius: 50px;
  /* background-size: cover; */
  /* background-clip:content-box; */
}

.description h1{
  position: relative;
  width: 353px;
  height: 75px;
  font-weight: 600;
  font-size: 64px;
  left: 20px;
  padding-top: 55px;
}
.description h3{
  position: relative;
  width: 620px;
  height: 308px;
  font-weight: 500;
  font-size: 36px;
  left: 20px;
  padding-top: 55px;
}
.split{
  position: absolute;
  /* width: 30px; */
  /* height: 50px; */
  left: 819px;
  top: 65vw;  
}
.button {
  background-color: #C19EE0;
  border: none;
  color: black;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 40px;
  height: 75px;
  transition-duration: 0.6s;
}


.white_box {
  position: absolute;
  width: 1404px;
  height: 1200px;
  top: 1500px;
  background-color: white;
}

.steps {
  position:absolute;
  left: 60px;
}

.planning h1 {
  top: 100px;
  padding-bottom: 40px;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 64px;
}

.planning h2 {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 130px;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
}

.planning {
  position:absolute;
  font-size: 64px;
  width: 810px;
  height: 919px;
  top: 780px;
}

.three_images {
  position:absolute;
  left: 819px;
  top: 800px;
}

.circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 60px;
  text-align: center;
  background-color: #C19EE0;
}

.title_location h1 {
  position:absolute;
  left: 35px;
  top: 2740px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 64px;
}

.locations {
  position:absolute;
  font-family: Montserrat, sans-serif;
  text-align: center;
  word-spacing: 250px;
  font-size: 57px;
  font-weight: 400;
  left: 35px;
  top: 2870px;
}

.destinations {
  position:absolute;
  left: 35px;
  top: 3000px;
}