body {
    background-color: #C19EE0;
    font-family: Montserrat, sans-serif;
    margin: 0;
}
  
.header img{
    width: 70 px;
    height: 80px;
    float: left;
    margin-left: 20px;
  
}
  
ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #C19EE0;
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    transition-duration: 0.6s;
}
  
li {
    float: left;
    border-left:2px solid black;
}
  
li:last-child {
    border-left: none;
}
  
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    
}
  
li a:hover:not(.active) {
    background-color: #d5b1f5;
    transition-duration: 0.6s;
}

hr.solid {
  border: 10px solid white;
}

.box {
    position: absolute;
    width: 25vw;
    height: 15vw;
    left: 10vw;
    top: 30vw;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 50px;
    
  
  }
.pic1{
    position: absolute;
    left: 13vw;
    top: 18vw;
}
.backend{
    position: relative;
}
.box2{
    /* position: relative; */
    position: absolute;
    width: 25vw;
    height: 15vw;
    left: 10vw;
    top: 25vw;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 50px;
}
.pic2{
    position: absolute;
    left: 13vw;
    top: 10vw;
}
.box3{
    /* position: relative; */
    position: absolute;
    width: 25vw;
    height: 15vw;
    left: 40vw;
    top: 25vw;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 50px;
}
.pic3{
    position: absolute;
    left: 43vw;
    top: 10vw;
}
.box4{
    /* position: relative; */
    position: absolute;
    width: 25vw;
    height: 15vw;
    left: 70vw;
    top: 25vw;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 50px;
}
.pic4{
    position: absolute;
    left: 73vw;
    top: 10vw;
}

  .leaderbox h1{
    line-height: 78px;
    background-size: 100% 100%;   
    height: 45vw;
    padding-left: 3vw;

  }
  .box5{
    /* position: relative; */
    position: absolute;
    width: 25vw;
    height: 15vw;
    left: 7vw;
    top: 130vw;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 50px;
}
.pic5{
    position: absolute;
    left: 10vw;
    top: 115vw;
}

footer {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 70px;
    font-size: 60px;
    font-weight:600;
    width: 100%;
    height: 400px;
    top: 2400px;
    background-color: white;
    text-align: center;
    font-family: Montserrat, sans-serif;
  }
